<div class="container" loading="lazy" style="display: none;">
  <div class="row">
    <div class="col align-self-start">
      <div class="d-flex flex-column bd-highlight mb-3 gap-2">
        <a href="/index" class="btn btn-secondary btn-success mt-2" style="box-shadow: 3px 3px 3px black">Home</a>
        <a href="/findaroom" class="btn btn-secondary" style="box-shadow: 3px 3px 3px black">Find a Room</a>
        <a href="/about" class="btn btn-secondary" style="box-shadow: 3px 3px 3px black">About</a>
        <a href="/contact" class="btn btn-secondary" style="box-shadow: 3px 3px 3px black">Contact</a>
        <a href="/faq" class="btn btn-secondary" style="box-shadow: 3px 3px 3px black">FAQ</a>
      </div>
    </div>      
    <div class="col align-self-start text-left fs-5 fw-bolder">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="pt-2 px-2 bd-highlight"><h1>QualityB&B</h1></div>
        <div class="p-2 bd-highlight">Address <br>105 Business Park <br>Gloucester <br>Gloucestershire <br>GL2 5JU <br> 01594 555444 </div>
        <div class="p-2 bd-highlight"></div>
      </div>
    </div>    
    <div class="col align-self-start text-left">
      <div class="d-flex flex-column bd-highlight mb-3 fs-5 fw-bolder">
        <div class="p-2 bd-highlight">Kitchen&Bar Opening times:</div>
        <div class="px-2 bd-highlight">Monday: 7:00 - 20:00</div>
        <div class="px-2 bd-highlight">Tuesday: 7:00 - 20:00</div>
        <div class="px-2 bd-highlight">Wednesday: 7:00 - 20:00</div>
        <div class="px-2 bd-highlight">Thursday: 7:00 - 20:00</div>
        <div class="px-2 bd-highlight">Friday: 7:00 - 22:00</div>
        <div class="px-2 bd-highlight">Saturday: 7:00 - 22:00</div>
        <div class="px-2 bd-highlight">Sunday: 7:00 - 18:00</div>
        <div class="px-2 bd-highlight"><br></div>
        <div class="px-2 bd-highlight">Reception: 24/7</div>
      </div>
    </div>     
  </div>
</div>