<% const x=typeof user;%>

  <div>
    <div class="d-flex flex-column">

      <button id="burgerMenuBtn" >☰</button>
      <div style="text-align: center;margin-top: 5vh;display: none;" class="burgerMenuBtnDiv">
        <h1>Quality<br>Hotel<a href="/index"><img src="/imgs/logo.png" style="height:50px; width:50px"></a></h1>
        
      </div>
      <div id="burgerHiddenMenu">

        

        <ul class="burgerMenuUL">
          <li><% if (x==="object" && user.name !="ADMIN" ) { %> <a href="/users/logout" class="btn naviBtn">Logout</a></li>
            <li><a href="/myprofile" class="btn naviBtn">My Profile</a></li>
            <% } %>

              <% if (x !="object" ) { %> <li><a href="/users/register" class="btn naviBtn">Register</a></li>
                <li><a href="/users/login" class="btn naviBtn">Login</a></li>
                <% } %>

                  <% if (x==="object" && user.name==="ADMIN" ) { %> <li><a href="/users/logout" class="btn naviBtn">Logout</a></li>
                    <li><a href="/bookings" class="btn naviBtn">Bookings</a></li>
                    <li><a href="/messages" class="btn naviBtn">Messages</a></li>
                    <% } %></li>
            <li><a href="/index" class="btn naviBtn mt-3" id="indexNaviBtn">Home</a></li>
            <li><a href="/findaroom" class="btn naviBtn">Book Room</a></li>
            <li><a href="/about" class="btn naviBtn">About</a></li>
            <li><a href="/faq" class="btn naviBtn">FAQ</a></li>
            <li><a href="/contact" class="btn naviBtn">Contact</a></li>
            <li><div class="btn naviBtn mt-3" onclick="location.href='tel:01235%12312345';">
              <i class="fa fa-phone fs-1" style="transform:translateY(-10px)"></i><br><p style="color: white;font-size: medium;transform: translateY(-18px);"> 01234 012 01234 </p>
            </div></li>
        </ul>
      </div>

      <div class="topNavBar" id="topNavBar" >
        <div class="d-flex" id="navDiv" style="justify-content: space-around;margin-top: 50px;width: 100vw;height: 100px; padding-top: 1em;background-color: rgba(49, 49, 49, 0.527);">

          <div class="d-flex mb-4" style="height: 100px;" id="navElems">
            <div style="display: flex;" class="">
              <h1 style="color:white;transform: translateY(-10px);cursor: pointer;" id="loggo" onclick="window.location='../index'">Quality<br>Hotel</h1>
              <a href="/index"><img src="/imgs/logo.png" id="myLogo2" class="myLogo rounded" name="myLogo" style="height:50px; width:50px"></a>
            </div>

            <div class="">
              <div class="navBar d-flex flex-row gap-1" style="justify-content: start; ">

                <% if (x==="object" && user.name !="ADMIN" ) { %> <a href="/users/logout" class="btn naviBtn">Logout</a>
                  <a href="/myprofile" class="btn naviBtn" style="white-space: nowrap;">My Profile</a>
                  <% } %>

                    <% if (x !="object" ) { %> <a href="/users/register" class="btn naviBtn">Register</a>
                      <a href="/users/login" class="btn naviBtn">Login</a>
                      <% } %>

                        <% if (x==="object" && user.name==="ADMIN" ) { %> <a href="/users/logout"
                            class="btn naviBtn">Logout</a>
                          <a href="/bookings" class="btn naviBtn">Bookings</a>
                          <a href="/messages" class="btn naviBtn">Messages</a>
                          <% } %>
              </div>
            </div>

          </div>
          <div style="white-space: nowrap;height: 100px;position: absolute;top:14vh">
            <a href="/index" class="btn naviBtn" id="indexNaviBtn">Home</a>
            <a href="/findaroom" class="btn naviBtn" style="white-space: nowrap;">Book Room</a>
            <a href="/about" class="btn naviBtn">About</a>
            <a href="/faq" class="btn naviBtn">FAQ</a>
            <a href="/contact" class="btn naviBtn">Contact</a>
          </div>

          <div id="callBtn" style="height: 50px;white-space: nowrap;" class="btn naviBtn" onclick="location.href='tel:01235%12312345';">
            <i class="fa fa-phone"></i><br>01234 012 01234
          </div>

          <script src="/config/script.js" defer></script>

        </div>
      </div>

    </div>
  <script>
    $(document).ready(function ($) {
      var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
      $('.naviBtn').each(function () {
        if (this.href === path) {
          $(this).addClass('active');
        };
        if (path == "http://localhost:5555/" || path == "https://qualityhotel.herokuapp.com/") {
          document.querySelector('#indexNaviBtn').classList.add('active');
        }
      });
    });
  </script>