<% const x=typeof user;%>
<div class="topNavBar" >
  <a href="/"><img src="/imgs/logo.png" id="myLogo2" class="myLogo rounded" name="myLogo" style="height:80px; width:80px"></a>
  <h1>Quality Hotel</h1>
  <div class="navBar">

    <% if (x==="object" && user.name !="ADMIN" ) { %> <a href="/users/logout" class="btn naviBtn">Logout</a>
      <a href="/myprofile" class="btn naviBtn">My Profile</a>
      <% } %>

        <% if (x !="object" ) { %> <a href="/users/register" class="btn naviBtn">Register</a>
          <a href="/users/login" class="btn naviBtn">Login</a>
          <% } %>

            <% if (x==="object" && user.name==="ADMIN" ) { %> <a href="/users/logout" class="btn naviBtn">Logout</a>
              <a href="/bookings" class="btn naviBtn">Bookings</a>
              <a href="/messages" class="btn naviBtn">Messages</a>
              <% } %>

                <a href="/" class="btn naviBtn">Home</a>
                <a href="/findaroom" class="btn naviBtn">Book Room</a>
                <a href="/about" class="btn naviBtn">About</a>
                <a href="/faq" class="btn naviBtn">FAQ</a>
                <a href="/contact" class="btn naviBtn">Contact</a>

                <script src="/config/script.js" defer></script>
  </div>
</div>