<% const x=typeof user;%>

  <div>
    <div class="d-flex flex-column">
      <div class="topNavBar">
        <div class="d-flex" id="navDiv"
          style="justify-content: space-evenly;margin-top: 50px;width: 95vw;height: 100px; padding-top: 1em;background-color: rgba(49, 49, 49, 0.527);">
          <div class="d-flex mb-4" style="margin-left:50px;height: 100px;" id="navElems">
            <div style="display: flex;" class="">
              <h1 style="color:white;transform: translateY(-10px);" id="loggo">Quality<br>Hotel</h1>
              <a href="/index"><img src="/imgs/logo.png" id="myLogo2" class="myLogo rounded" name="myLogo"
                  style="height:50px; width:50px"></a>
            </div>
            <div class="">
              <div class="navBar d-flex flex-row gap-1" style="justify-content: start; ">

                <% if (x==="object" && user.name !="ADMIN" ) { %> <a href="/users/logout" class="btn naviBtn">Logout</a>
                  <a href="/myprofile" class="btn naviBtn">My Profile</a>
                  <% } %>

                    <% if (x !="object" ) { %> <a href="/users/register" class="btn naviBtn">Register</a>
                      <a href="/users/login" class="btn naviBtn">Login</a>
                      <% } %>

                        <% if (x==="object" && user.name==="ADMIN" ) { %> <a href="/users/logout"
                            class="btn naviBtn">Logout</a>
                          <a href="/bookings" class="btn naviBtn">Bookings</a>
                          <a href="/messages" class="btn naviBtn">Messages</a>
                          <% } %>
              </div>
            </div>
          </div>
          <div style="margin-left:50px;height: 100px;">
            <a href="/index" class="btn naviBtn" id="indexNaviBtn">Home</a>
            <a href="/findaroom" class="btn naviBtn">Book Room</a>
            <a href="/about" class="btn naviBtn">About</a>
            <a href="/faq" class="btn naviBtn">FAQ</a>
            <a href="/contact" class="btn naviBtn">Contact</a>
          </div>
          <div id="callBtn" style="margin-left:50px;height: 50px;" class="btn naviBtn" onclick="location.href='tel:01235%12312345';">
            <i class="fa fa-phone"></i><br>01234 012 01234
          </div>

          <script src="/config/script.js" defer></script>

        </div>
      </div>

    </div>
  <script>
    $(document).ready(function ($) {
      var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
      $('.naviBtn').each(function () {
        if (this.href === path) {
          $(this).addClass('active');
        };
        if (path == "http://localhost:5555/" || path == "https://qualityhotel.herokuapp.com/") {
          document.querySelector('#indexNaviBtn').classList.add('active');
        }
      });
    });
  </script>