<% include ./partials/header %>

  <div class="card card-body text-center">
    <div class="card card-body text-center">

      <div class="aboutcard d-flex text-start">
        <div class="otherhalf card card-body fs-4">
          <p>
          <h1>QualityHotel</h1>is the leading and fastest growing family hotel chain in the Budget & Economy sector in United Kingdom. Established in Gloucester, UK, 2022, the group has today 4 hotels across the country.</p>
        </div>
        <div class="hotelimg"><img src="/imgs/other/1 (2).jpg" style="min-width: 100%; height: auto; max-height:55vh;"></div>
      </div>


      <div class="aboutcard d-flex text-start mt-5">
        <div class="otherhalf card card-body fs-4">
          <p class="motto"><span class="bigletter">W</span>e offers warm, modern and affordable accommodation. This "Only For Everyone" concept proposes to both business and leisure clients a combination of comfort, design and high quality services at an attractive price: comfortable beds, high-speed WiFi, gourmet buffet breakfast.</p>
        </div>
      </div>

      <div class="aboutcard d-flex text-start mt-4">
        <div class="otherhalf card card-body fs-4 mt-4">
          <p>Contemporary style hotels, interior design customized to local destinations, quality bedding, unlimited buffet breakfast with a wide choice of quality and organic products, high-speed Wi-Fi access, private parkings and 24-hour access to the rooms are just some of the features that our customers appreciate in our hotels. Chromecast in bedrooms can also be found in a selected number of hotels.</p>
        </div>
        <div class="hotelimg"><img src="/imgs/other/1 (3).jpg" loading="lazy"></div>
      </div>

      <div class="aboutcard d-flex text-start mt-4">
        <div class="hotelimg"><img src="/imgs/other/1 (4).jpg" loading="lazy" style="transform: rotate(-35deg);"></div>
        <div class="otherhalf card card-body fs-4 mt-4">
          <p>Our Wedding specialists are looking forward to your wedding celebration. They offer a range of packages designed to suit a variety of needs and budgets. Wedding package features and options include the use of the on-site ceremony locations, evening reception facilities, in-house catering, and overnight accommodation for you and your guests.</p>
        </div>
      </div>

      <div class="aboutcard d-flex text-start mt-4">
        <div class="otherhalf card card-body fs-4 mt-4">
          <p>Although each hotel brings its own unique personality to the collection, the overall ethos is the same, a passion for providing and sharing a great service, history, natural environment and locally sourced food.</p>
        </div>
        <div class="hotelimg"><img src="/imgs/other/1 (5).jpg" loading="lazy"></div>
      </div>

      <div class="m-auto card card-body text-center mt-2 mb-4">
        <div id="myCarousel" class="carousel slide-fade mb-4" data-bs-interval="4000" data-bs-ride="carousel">
          <div class="carousel-indicators bg-dark">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-current="true"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-current="true"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-current="true"
              aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-current="true"
              aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-current="true"
              aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-current="true"
              aria-label="Slide 7"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial card card-body " style="width: 25rem;">
                <div class="testimonial-body">
                  <h6>Amazing staff. So helpfull and young. Breakfast the best and rooms good. Only 8 mins walk from town center. Recommend 100%. Perfect that there is a car park on site. <i class="fas fa-quote-right"></i>
                  </h6>
                </div>
                <div class="testimonial-footer">
                  <img src="https://randomuser.me/api/portraits/men/33.jpg" loading="lazy" alt="user" />
                  <h3 class="m-2">Geralt of Rivia</h3>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial card card-body " style="width: 25rem;">
                <div class="testimonial-body">
                  <h6>Thank you for a lovely nights stay will definitely be back Duncan was so pleasant and helpful would recommend a stay here if ever on Skye rooms were spotless as were the toilet/shower room the breakfast was excellent and piping hot if there were ten stars I would give them that too will be back if ever on Skye again.<i class="fas fa-quote-right"></i>
                  </h6>
                </div>
                <div class="testimonial-footer">
                  <img src="https://randomuser.me/api/portraits/women/31.jpg" loading="lazy" alt="user" />
                  <h3 class="m-2">Yennefer of Vengerberg</h3>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial card card-body " style="width: 25rem;">
                <div class="testimonial-body">
                  <h6>The staff were outstanding. The hotel staff were so friendly with our two dogs. The hotel is located 5 min walk from the hotel. Plenty of parking, and lovely cosy rooms. Wonderful breakfast and great service.<i class="fas fa-quote-right"></i>
                  </h6>
                </div>
                <div class="testimonial-footer">
                  <img src="https://randomuser.me/api/portraits/men/32.jpg" loading="lazy" alt="user" />
                  <h3 class="m-2">Jaskier Bard</h3>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial card card-body " style="width: 25rem;">
                <div class="testimonial-body">
                  <h6>What a gem. Great flexible space a 4-5 min walk from Portree.
                    Great comfortable warm rooms, top quality shower and accessories.
                    The best thing though, great staff in particulate Duffy and Emily.....they have a wonderful approach to customers, nothing is a hassle and they will go out of their way to help.<i class="fas fa-quote-right"></i>
                  </h6>
                </div>
                <div class="testimonial-footer">
                  <img src="https://randomuser.me/api/portraits/women/29.jpg" loading="lazy" alt="user" />
                  <h3 class="m-2">Cirilla Fiona</h3>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial card card-body " style="width: 25rem;">
                <div class="testimonial-body">
                  <h6>Overall it was a Wonderful experience with a great staff and location. Rooms clean and food was great!<i class="fas fa-quote-right"></i>
                  </h6>
                </div>
                <div class="testimonial-footer">
                  <img src="https://randomuser.me/api/portraits/men/31.jpg" loading="lazy" alt="user" />
                  <h3 class="m-2">Vesemir Bodnia</h3>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial card card-body " style="width: 25rem;">
                <div class="testimonial-body">
                  <h6>Decent building and the rooms are nice and fresh, if a bit small. One complaint is the sound transfer between rooms is a bit intrusive. But our stay was great and the staff were very helpful and friendly.<i class="fas fa-quote-right"></i>
                  </h6>
                </div>
                <div class="testimonial-footer">
                  <img src="https://randomuser.me/api/portraits/women/30.jpg" loading="lazy" alt="user" />
                  <h3 class="m-2">Sabrina Wilson</h3>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial card card-body " style="width: 25rem;">
                <div class="testimonial-body">
                  <h6>We had a great experience at this b&b. Comfy with all utilities available in the room. I especially appreciated the vegan options for breakfast. Recommended if you spend a few nights!<i class="fas fa-quote-right"></i>
                  </h6>
                </div>
                <div class="testimonial-footer">
                  <img src="https://randomuser.me/api/portraits/women/35.jpg" loading="lazy" alt="user" />
                  <h3 class="m-2">Renfri Appleton</h3>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <% include ./partials/footer %>