<% include ./partials/header %> 

<div class="card card-body d-flex text-center ">
  <form action="/contactform" method="post" autocomplete="off">
      <div class="card mt-1" style="max-width: 50vh; margin: 0 auto;">
        
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="email">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Comments</label>
        </div>

        <div class="my-1"><button type="submit">Submit</button></div>
    </div>
  </form>
</div>

<% include ./partials/footer %>