<% include ./partials/header %> 

<div class="card card-body text-start ">
  <div class="card card-body align-items-center" id="faqbody">

    <ul>
      <li class="faqli card fs-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quis?</li>
      <p class="faqp fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eligendi dolores. Voluptate consectetur nihil officiis aliquid? Perspiciatis placeat dolores deleniti.</p>
    </ul>
    <ul>
      <li class="faqli card fs-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quis?</li>
      <p class="faqp fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eligendi dolores. Voluptate consectetur nihil officiis aliquid? Perspiciatis placeat dolores deleniti.</p>
    </ul>
    <ul>
      <li class="faqli card fs-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quis?</li>
      <p class="faqp fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eligendi dolores. Voluptate consectetur nihil officiis aliquid? Perspiciatis placeat dolores deleniti.</p>
    </ul>
    <ul>
      <li class="faqli card fs-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quis?</li>
      <p class="faqp fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eligendi dolores. Voluptate consectetur nihil officiis aliquid? Perspiciatis placeat dolores deleniti.</p>
    </ul>
    <ul>
      <li class="faqli card fs-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quis?</li>
      <p class="faqp fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eligendi dolores. Voluptate consectetur nihil officiis aliquid? Perspiciatis placeat dolores deleniti.</p>
    </ul>
    <ul>
      <li class="faqli card fs-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quis?</li>
      <p class="faqp fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eligendi dolores. Voluptate consectetur nihil officiis aliquid? Perspiciatis placeat dolores deleniti.</p>
    </ul>

  </div>
</div>

<% include ./partials/footer %>