<!-- very long page i know :d but was easier for me like this -->

<% include ./partials/header %>

    <script> let theChoices = []; </script>
    <script> let theChoicesCopy = undefined; </script>

    <button onclick="topFunction()" id="toTheTopBtn" title="Go to top">Top</button>
    <div class="farp card card-body text-center" style="margin-top: 25vh;">

        <% include ./partials/messages %>
            <h2 class="mt-2" id="choice1">1. Pick your hotel</h2>
            <div class="hotels card card-body flex-wrap flex-md-row gap-2 justify-content-center p-3">
                <!-- <div class="card">
            <div class="hotelnames p-2 flex-grow-1 bd-highlight">
                <h2>Test</h2>
                <img src="/imgs/fronthotel/birmingham.jpg" onclick="scrollzTo('1'); theChoices.hotel='test' " style="cursor: pointer; max-width: 100%; height:auto; max-height:25vh;">
            </div>
        </div>   -->
                <div class="card">
                    <div class="hotelnames p-2 flex-grow-1 bd-highlight rounded">
                        <h2>London</h2>
                        <img src="/imgs/fronthotel/london.jpg" onclick="scrollzTo('2'); theChoices.hotel='London' "
                            style="cursor: pointer; max-width: 100%; height:auto; max-height:25vh; border-radius: 10%;">
                    </div>
                </div>
                <div class="card">
                    <div class="hotelnames p-2 flex-grow-1 bd-highlight rounded">
                        <h2>Gloucester</h2>
                        <img src="/imgs/fronthotel/gloucester.jpg"
                            onclick="scrollzTo('2'); theChoices.hotel='Gloucester'"
                            style="cursor: pointer; max-width: 100%; height:auto; max-height:25vh;border-radius: 10%;">
                    </div>
                </div>
                <div class="card">
                    <div class="hotelnames p-2 flex-grow-1 bd-highlight rounded">
                        <h2>Birmingham</h2>
                        <img src="/imgs/fronthotel/birmingham.jpg"
                            onclick="scrollzTo('2'); theChoices.hotel='Birmingham'"
                            style="cursor: pointer; max-width: 100%; height:auto; max-height:25vh;border-radius: 10%;">
                    </div>
                </div>
                <div class="card">
                    <div class="hotelnames p-2 flex-grow-1 bd-highlight rounded">
                        <h2>Manchester</h2>
                        <img src="/imgs/fronthotel/manchester.jpg"
                            onclick="scrollzTo('2'); theChoices.hotel='Manchester'"
                            style="cursor: pointer; max-width: 100%; height:auto; max-height:25vh;border-radius: 10%;">
                    </div>
                </div>

            </div>


            <h2 class="mt-2 hideme" id="choice2" loading="lazy">2. Pick your dates</h2>

            <div class="datepicker card card-body d-flex justify-content-center py-4 fs-4 gap-2 hideme" loading="lazy">
                <div>

                    <label for="start">Start date:</label>
                    <input type="date" id="start" name="trip-start" value="" onchange="theChoices.from_date=value" class="rounded">
                </div>
                <div>
                    <label for="end">End date:</label>
                    <input type="date" id="end" name="trip-end" value=""  class="rounded"
                        onchange="scrollzTo('3');theChoices.to_date=value">
                </div>
                <script>
                    var todaysDate = new Date().toISOString().slice(0, 10);
                    document.getElementById("start").setAttribute('min', todaysDate);
                    var tomorrow = new Date();
                    tomorrow.setDate(tomorrow.getDate() + 1);
                    document.getElementById("end").setAttribute('min', tomorrow.toISOString().slice(0, 10));
                </script>
            </div>


            <h2 class="mt-2 hideme" id="choice3" loading="lazy">3. Choose your options</h2>

            <div class="card d-flex flex-colum p-2 gap-2 py-4" loading="lazy">
                <div class="card d-flex flex-row fs-5 justify-content-center">
                    <div class="findaRoomHotelCard p-2 d-flex bd-highlight text-center gap-2 p-1">

                        <img src="/imgs/rooms/1 (4).jpg" loading="lazy" class=""
                            style="max-width: 100%; height:auto; max-height:25vh;border-radius: 5%;">
                        <ul class="findaRoomHotelCardList">
                            <h2>Single Room</h2>
                            <li>Free Toiletries</li>
                            <li>In room kettle</li>
                            <li>Daily change of towels</li>
                            <li>Minibar</li>
                            <li>Fridge</li>
                        </ul>
                        <ul class="findaRoomHotelCardList2">
                            <li><input type="checkbox" name="breakfast" id="breakfast"> Add breakfast?</li>
                            <li><input type="checkbox" name="champagne" id="champagne"> Champagne & chocolate?</li>
                            <li><input type="checkbox" name="rentcar" id="rentcar"> Rent a car?</li>
                            <li>
                                <h3>Price/day: £24.95<br>+Location Rate<div class="info">i
                            <li>£19.95 London<br>£14.95 Manchester<br>£14.95 Birmingham<br>£9.95 Gloucester</li>
                    </div>
                    </h2>
                    </li>
                    <button style="border-radius: 10%;" type="submit" value="submit" class="py-2 px-4" onclick="scrollzTo('4');theChoices.roomType='single'; theChoices.breakfast=document.getElementById('breakfast').checked;
                    theChoices.champagne=document.getElementById('champagne').checked;
                    theChoices.rentcar=document.getElementById('rentcar').checked;showchoices()
                    ">Choose!</button>
                    </ul>
                </div>
            </div>
            <!-- -- -->
            <div class="card d-flex flex-row fs-5 justify-content-center">
                <div class="findaRoomHotelCard p-2 d-flex bd-highlight text-center gap-2 p-1">

                    <img src="/imgs/rooms/1 (3).jpg" loading="lazy" class="m-auto"
                        style="max-width: 100%; height:auto; max-height:25vh;border-radius: 5%;">
                    <ul class="findaRoomHotelCardList">
                        <h2>Double Room</h2>
                        <li>Free Toiletries</li>
                        <li>In room kettle</li>
                        <li>Daily change of towels</li>
                        <li>Minibar</li>
                        <li>Fridge</li>
                    </ul>
                    <ul class="findaRoomHotelCardList2">
                        <li><input type="checkbox" name="breakfast2" id="breakfast2"> Add breakfast?</li>
                        <li><input type="checkbox" name="champagne2" id="champagne2"> Champagne & chocolate?</li>
                        <li><input type="checkbox" name="rentcar2" id="rentcar2"> Rent a car?</li>
                        <li>
                            <h3 class="mt-3">Price/day: £34.95 <br>+Location Rate<div class="info">i
                        <li>£19.95 London<br>£14.95 Manchester<br>£14.95 Birmingham<br>£9.95 Gloucester</li>
                </div>
                </h2>
                </li>
                <button style="border-radius: 10%;" type="submit" value="submit" class="py-2 px-4" onclick="scrollzTo('4');theChoices.roomType='double'; theChoices.breakfast=document.getElementById('breakfast2').checked;
                        theChoices.champagne=document.getElementById('champagne2').checked;
                        theChoices.rentcar=document.getElementById('rentcar2').checked;showchoices()
                        ">Choose!</button>
                </ul>
            </div>
    </div>
    <!-- -- -->
    </div>


    <h2 class="mt-2 hideme" id="choice4">4. Finalizing</h2>
    <!-- <button onclick="showchoices()" >show me the stuff</button> -->
    <div class="results card card-body align-items-center hideme">
        <table id="results" border="1px"></table>
        <div id="themChoicesText"></div>
        <table id="resultsTOTAL" border="1px" class="fs-2 fw-bold">
            <div class="spinnerContainer" id="spinnerContainer">
                <div class="spinMe">
                    <i class="fas fa-spinner" id="spinnER"></i>
                </div>
            </div>
        </table>

        <!-- <button type="button" onclick="console.log(theChoicesCopy)">theChoicesCopy</button>
        <button type="button" onclick="console.log(theChoices)">theChoices</button> -->
        <div class="confirmButton p-4 mt-1" id="confirmButton">

            <form action="/successfullbooking" method="post" id="confirmationButtonFORM">
                <div style="display: none;">
                    <input type="text" class="" id="hotelUserName" name="hotelUserName" value="<%- user.name %>">
                    <input type="text" class="" id="hotelUserEmail" name="hotelUserEmail" value="<%- user.email %>">
                    <input type="text" class="" id="hotelUserPhone" name="hotelUserPhone" value="<%- user.phone %>">

                    <input type="text" class="" id="hotelFORM" name="hotelFORM" value="theChoiceCopy">
                    <input type="text" class="" id="from_dateFORM" name="from_dateFORM" value="theChoiceCopy">
                    <input type="text" class="" id="to_dateFORM" name="to_dateFORM" value="theChoiceCopy">
                    <input type="text" class="" id="roomTypeFORM" name="roomTypeFORM" value="theChoiceCopy">
                    <input type="text" class="" id="breakfastFORM" name="breakfastFORM" value="theChoiceCopy">
                    <input type="text" class="" id="champagneFORM" name="champagneFORM" value="theChoiceCopy">
                    <input type="text" class="" id="rentcarFORM" name="rentcarFORM" value="theChoiceCopy">
                    <input type="text" class="" id="TOTALFORM" name="TOTALFORM" value="theChoiceCopy">
                </div>
                <button onclick="putValuesInForm()" type="button" class="fs-1 fw-bold p-3 rounded">CONFIRM</button>
            </form>
        </div>

    </div>

    <script defer>
        function putValuesInForm() {
            let errors = [];

            if (!theChoicesCopy.hotel || !theChoicesCopy.from_date || !theChoicesCopy.to_date || !theChoicesCopy.roomType) {

                // console.log("missing hotel pick")
                scrollzTo('1');
                document.getElementById('choice1').style="border:5px solid red;"

            } else {
                document.getElementById('hotelFORM').value = theChoicesCopy.hotel;
                document.getElementById('from_dateFORM').value = theChoicesCopy.from_date;
                document.getElementById('to_dateFORM').value = theChoicesCopy.to_date;
                document.getElementById('roomTypeFORM').value = theChoicesCopy.roomType;
                document.getElementById('breakfastFORM').value = theChoicesCopy.breakfast;
                document.getElementById('champagneFORM').value = theChoicesCopy.champagne;
                document.getElementById('rentcarFORM').value = theChoicesCopy.rentcar;
                document.getElementById('TOTALFORM').value = theChoicesCopy.TOTAL;

                document.getElementById("confirmationButtonFORM").submit();
            }
        }

        function days_between(date1, date2) {
            aDay = 86400000,
                diff = Math.floor((Date.parse(date2) - Date.parse(date1)) / aDay);
            // console.log("days:",diff);
            return diff

        }


        function showchoices() {
            document.getElementById("spinnerContainer").style.display = "none";

            let elmtTable = document.getElementById('results');
            let tableRows = elmtTable.getElementsByTagName('tr');
            let rowCount = tableRows.length - 1;
            for (let x = rowCount; x >= 0; x--) {
                elmtTable.removeChild(tableRows[x]);
            }


            let price = 0;
            let daysToPay = days_between(theChoices.from_date, theChoices.to_date);
            if (daysToPay <= 1) { daysToPay = 1 }
            for (i = 0; i < Object.keys(theChoices).length; i++) {
                // let tr = document.createElement("tr");

                // let td = document.createElement("td");
                // let td2 = document.createElement("td");

                // if (Object.keys(theChoices)[i] != "TOTAL") {
                //     let textnode = document.createTextNode((Object.keys(theChoices)[i]));
                //     let textnode2 = document.createTextNode((Object.values(theChoices)[i]));
                // }

                // td.appendChild(textnode);
                // td2.appendChild(textnode2);

                // tr.appendChild(td);
                // tr.appendChild(td2);
                // document.getElementById('results').appendChild(tr)

                
                // console.log(daysToPay)


                // if (Object.keys(theChoices)[i] == "hotel" && Object.values(theChoices)[i] === "test") {console.log("1a");price += (19.69*daysToPay)}; //testing purposes :)
                if (Object.keys(theChoices)[i] == "hotel" && Object.values(theChoices)[i] === "London") { price += (19.95 * daysToPay) };
                if (Object.keys(theChoices)[i] == "hotel" && Object.values(theChoices)[i] === "Gloucester") { price += (9.95 * daysToPay) };
                if (Object.keys(theChoices)[i] == "hotel" && Object.values(theChoices)[i] === "Manchester") { price += (14.95 * daysToPay) };
                if (Object.keys(theChoices)[i] == "hotel" && Object.values(theChoices)[i] === "Birmingham") { price += (14.95 * daysToPay) };

                if (Object.keys(theChoices)[i] == "roomType" && Object.values(theChoices)[i] === "single") { price += (24.95 * daysToPay) };
                if (Object.keys(theChoices)[i] == "roomType" && Object.values(theChoices)[i] === "double") { price += (34.95 * daysToPay) };

                if (Object.keys(theChoices)[i] == "breakfast" && Object.values(theChoices)[i] === true) { price += (9.95 * daysToPay) };
                if (Object.keys(theChoices)[i] == "champagne" && Object.values(theChoices)[i] === true) { price += (19.95 * daysToPay) };
                if (Object.keys(theChoices)[i] == "rentcar" && Object.values(theChoices)[i] === true) { price += (29.95 * daysToPay) };

                theChoices.TOTAL = price.toFixed(2);
            }

            theChoicesCopy = theChoices;
            theChoicesCopy.TOTAL = theChoices.TOTAL;
            showTotalPrice();

            document.getElementById('themChoicesText').innerHTML = "<h3 style='font-weight:100;'>\
            Dear <%= user.name %>, you have chosen <span style='font-weight:bold'>"+ theChoicesCopy.hotel + " Hotel</span>\
            in a room type <span style='font-weight:bold'>"+ theChoicesCopy.roomType + "</span> for <span style='font-weight:bold'>" + daysToPay + " night(s)</span>\
            </h3>"
        };
        function showTotalPrice() {

            let elmtTable = document.getElementById('resultsTOTAL');
            let tableRows = elmtTable.getElementsByTagName('tr');
            let rowCount = tableRows.length - 1;
            for (let x = rowCount; x >= 0; x--) {
                elmtTable.removeChild(tableRows[x]);
            }


            // console.log(theChoicesCopy.TOTAL);
            let tr = document.createElement("tr");
            let td = document.createElement("td");
            let td2 = document.createElement("td");

            let textnode = document.createTextNode("TOTAL");
            let textnode2 = document.createTextNode("£" + theChoicesCopy.TOTAL);
            td.appendChild(textnode);
            td2.appendChild(textnode2);
            tr.appendChild(td);
            tr.appendChild(td2);
            document.getElementById('resultsTOTAL').appendChild(tr);
            document.getElementById('confirmButton').style.visibility = "visible";
        };
    </script>
    <% include ./partials/footer %>
        <script defer>
            // console.log(this.location.search)
            urlString = this.location.search.replace(",", "");
            urlString = String(urlString).replace("?", "");
            urlStringStart = String(urlString).slice(6, 16);
            urlStringEnd = String(urlString).slice(21, 31);
            urlStringHotel = String(urlString).slice(38);
            // console.log(urlStringStart,urlStringEnd,urlStringHotel);

            function adjust() {
                if (urlStringStart == "") {  // if not commming from index
                    // console.log("empty"); 
                    let todaysDate = new Date().toISOString().slice(0, 10);
                    document.getElementById('start').value = todaysDate;
                    document.getElementById("start").setAttribute('min', todaysDate);
                    theChoices.from_date = todaysDate;


                    let tomorrow = new Date();
                    tomorrow.setDate(tomorrow.getDate() + 1);
                    document.getElementById('end').value = tomorrow.toISOString().slice(0, 10);
                    document.getElementById("end").setAttribute('min', tomorrow.toISOString().slice(0, 10));
                    theChoices.to_date = tomorrow.toISOString().slice(0, 10)
                    setTimeout(1000, document.getElementById("choice1").scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'nearest' }))




                } else {  // if comming from index
                    theChoices.hotel = urlStringHotel;
                    theChoices.from_date = urlStringStart;
                    theChoices.to_date = urlStringEnd;

                    document.getElementById('hotelFORM').value = urlStringStart;
                    document.getElementById('from_dateFORM').value = urlStringEnd;
                    document.getElementById('to_dateFORM').value = urlStringHotel;

                    document.getElementById('start').value = urlStringStart;
                    document.getElementById('end').value = urlStringEnd;
                    // console.log(urlStringStart, urlStringEnd, "aaaaaaaaa")
                    // console.log("ok");

                    showchoices();
                    setTimeout(1000, document.getElementById("breakfast").scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'nearest' }))


                }
            };

            adjust();



        </script>
        <script defer>
            $(document).ready(function () {
                $(window).scroll(function () {
                    $('.hideme').each(function (i) {
                        let bottom_of_object = $(this).offset().top + $(this).outerHeight();
                        let bottom_of_window = ($(window).scrollTop() + ($(window).height())) + (111);
                        bottom_of_window = parseInt(bottom_of_window).toFixed(0);
                        bottom_of_object = parseInt(bottom_of_object).toFixed(0);
                        if (bottom_of_window > bottom_of_object) {
                            $(this).animate({ 'opacity': '1' }, 1000);
                        }
                    });
                });
            });
        </script>