<% include ./partials/header %>
<div class="d-flex justify-content-center rounded" style="margin-top: 25vh;">
    <div class="container d-flex justify-content-center" >
        <img src="/imgs/landscape/pagenotfound.gif" alt="" style="border-radius: 50%; height:auto; width: 50vw;filter: grayscale(70%);">
        <h1 style="position: absolute;z-index: 9; padding: 1em;color: white; top:40%; width: 100vw; text-align: center;background-color: rgba(177, 177, 177, 0.486);">Ops! Invalid link!</h1></div>
</div>
<% include ./partials/footer %>