<div class="row mt-5" style="max-width: 95vw; margin: 0 auto;">

  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <div style="display: flex;" class="justify-content-center">
          <h1 style="color:rgb(10, 7, 7);transform: translateY(-10px);cursor: pointer;" id="loggo"
            onclick="window.location='../index'">Quality<br>Hotel</h1>
          <a href="/index"><img src="/imgs/logo.png" id="myLogo2" class="myLogo rounded" name="myLogo"
              style="height:50px; width:50px"></a>
        </div>
        <i class="fas fa-sign-in-alt"></i><a href="/users/login">Login</a>
      </h1>
      <%- include('./partials/messages'); -%>
        <form action="/users/login" method="POST">
          <div class="form-group mt-1">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" autocomplete="username" onkeypress="checkBannedChars('email')" onkeyup="checkBannedChars('email')"
              style="background-color: rgba(0, 0, 0, 0.158);box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;-webkit-box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;" />
          </div>
          <div class="form-group mt-1">
            <label for="password">Password</label>  <input type="checkbox" onclick="changeInputType()" >  Show
          </div>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" autocomplete="current-password"  onkeypress="checkBannedChars('password')" onkeyup="checkBannedChars('password')"
              style="background-color: rgba(0, 0, 0, 0.164);box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.411) inset;-webkit-box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.411) inset;" />
              
          <button type="submit" class="btn btn-success btn-block mt-1">Login</button>
        </form>
        <p class="lead mt-4">
          Need to create an account? <a href="/users/register">
            <p style="font-size: 1.5em;">Register</p>
          </a>
        </p>
    </div>
  </div>
</div>
<script>
  // password field type
function changeInputType() {
  field = document.getElementById("password");
  if (field.type === "password") {
      field.type = "text";
  } else {
      field.type = "password";
  }
}
</script>