@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dela+Gothic+One&family=Festive&family=Grand+Hotel&family=Josefin+Sans:wght@300&family=Lora:ital@1&display=swap');/* font-family: 'Dela Gothic One', cursive;
font-family: 'Festive', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Lora', serif; */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
* {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}
.topNavBar{
    top:0%;
    width: 100vw;
    position: fixed;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 995;
    height: 23vh;
    background: linear-gradient(180deg, rgba(0,255,196,1) 0%, rgba(89,225,142,1) 93%, rgba(253,170,45,0.3253676470588235) 100%);
}
.topNavBar h1 {
    margin-top: 30px;
}
.navBar {
    top:19%;
    width: 100vw;
    position: fixed;
    z-index: 999;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    z-index: 996;
    
}
.naviBtn {
    font-size: .8em;
    text-transform:uppercase;
    height:50px;
    background-color: #8039fb;
    box-shadow: -3px 3px black;
}
.naviBtn:hover {
    transform: scale(1.05) translate(-3px, 3px);
    background-color: #5719c2;
    box-shadow: inset -3px 3px black;
}
.naviBtn:focus {
    background-color: #5719c2;
    box-shadow: inset -8px 8px black;
}

#faqbody {
    max-width: 85vw;
}
.faqli {
    font-weight: bold;
    color: black;
    list-style: none;
    padding: 1em;
}
.faqp {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.otherhalf {
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    color: black;

}
.hotelimg > img{
    filter: grayscale(60%);
    transform: rotate(10deg) translateX(-20%);
    max-height: 70vh;
    width:100%;
    border: 2px solid black;
    box-shadow: 11px 11px 3px rgb(80, 80, 80);
}
.motto {
    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
}
.bigletter {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    line-height: 0;
    font-weight: normal;
}
.cfl {
    margin-top: 1em;
    z-index: -1;
    font-size: 1.5em;
    transform:translate(-2%, 40%);
}
.cfi {
    font-size: 2em;
    background-color: transparent;
}
.findaRoomHotelCardList > li {
    /* list-style: none; */
    text-align: left;
}
.findaRoomHotelCardList2 > li {
    list-style: none;
    text-align: left;
}
.findaRoomHotelCard > img, .hotelnames > img {
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
    /* z-index: 56; */
}
.findaRoomHotelCard > img:hover, .hotelnames > img:hover {
    z-index: 99;
    border-radius: 25%;
    transform: scale(1.4);
    transition: .5s ease-in-out;
}
#toTheTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none; 
    background-color: rgb(47, 196, 255); 
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 50% 50% 5px 5px;
    font-size: 18px;
}
.datepicker {
    flex-direction: row;
}
.spinnerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.spinMe {
    margin: 0 auto;
    width: 4em;
    height: 4em;
    animation: spinMe 2s infinite cubic-bezier(0.18, 0.89, 0.01, 1.31);
}
.dataTableDB {
    font-size: 1em;
    font-weight: 800;
}
tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
    border: 1px solid black;
}

@keyframes spinMe {
    100% {
        transform: rotate(360deg);
    }
}

#spinnER{
    font-size: 4em;
    animation: spinMe 2s infinite cubic-bezier(0.18, 0.89, 0.01, 1.31);
}
#confirmButton{
    visibility: hidden;
}
.dropdownFAQ {
    height: 50px;
}
.contactDiv > input,.contactDiv >  select,.contactDiv >  textarea,.contactDiv >  button {
    box-shadow: 5px 5px 5px black;
}
.contactDiv > input:focus,.contactDiv > select:focus,.contactDiv > textarea:focus,.contactDiv > button:focus {
    transform: scale(1.03);
    transition: 1s ease-in-out;
}
.index > img {
    margin: 5px;
    max-height: 250px;
    max-width: 250px;
    border: 2px solid rgba(0, 0, 0, 0.486);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}
.index > img:hover {
    transform: scale(1.6);
    transition: .4s ease-in-out;
}
.info {
    vertical-align: super;
    cursor: pointer;
    font-size: .5em;
    background-color: rgb(192, 192, 192);
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    display: inline-block;
    transform: translateY(-7px);
}
.info > li {
    visibility: hidden;
    width: 11em;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 10px 17px;
    position: absolute;
    z-index: 1;
    bottom: 200%;
    margin-left: -60px;
}
.info, .info>li::after {
    content: "";
    border-width: 3px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
.info:hover, .info:hover > li {
    visibility: visible;
}
#resultsTOTAL tr td,#resultsTOTAL tr, #resultsTOTAL {
    border: none;
}
#resultsTOTAL tr td:nth-child(2) {
    font-size: 2em;
}
#contactSubmit:hover {
    transition: .5s ease-in-out;
    background-color: rgb(81, 130, 236);
}
#contactPhone:hover {
    transition: .5s ease-in-out;
    font-size: 1.4em;
}
.logoP {
    line-height: 15px;
    font-size: 1em;
}
.logoP > p:nth-child(1) {
    letter-spacing: -2px;
}
.logoP > p:nth-child(2) {
    letter-spacing: 6px;
}
.myModal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.75);
    animation: fadein 1s;
    text-align: center;
    padding-top: 10vh;
}
.myModal>form>input:first-child{
    margin-top: 100px;
}
.myModal>input{
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    height: 100vh;
    align-items: center;
}
.myModal > form > input {
    padding-top: 9px;
    margin: 10px;
    padding-left: 1em;
    background-color: rgb(230, 230, 230);
    font-size: 1.5em;
    height: 50px;
    width: 600px;
}
.myModal > form > input:focus {
    transition: 1s ease-in-out;
    transform: scale(1.1);
}
#modalMessage{
    height: 250px;
    word-wrap: break-word;
    word-break: break-all;
}
@media (max-width: 767px) {
    .head1 {
        display: flex;
        flex-direction: column;
    }
    .datepicker {
        flex-direction: column;
    }
    #headz {
        flex-direction: column-reverse!important;
    }
}
@media (max-width: 991px) {
    .findaRoomHotelCard {
        display: flex;
        flex-direction: column;
    }
    .findaRoomHotelCardList {
        padding-left: 2.6em;
    }
    .aboutcard {
        flex-direction: column;
    }
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
