@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dela+Gothic+One&family=Festive&family=Grand+Hotel&family=Josefin+Sans:wght@300&family=Lora:ital@1&display=swap');/* font-family: 'Dela Gothic One', cursive;
font-family: 'Festive', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Lora', serif; */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
* {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

#faqbody {
    max-width: 80vh;
    margin: 0 auto;
}
.faqli {
    font-weight: bold;
    color: black;
    list-style: none;
    padding: 1em;
}
.faqp {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.otherhalf {
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    color: black;

}
.hotelimg > img{
    filter: grayscale(60%);
    transform: rotate(10deg) translateX(-20%);
    max-height: 70vh;
    width:100%;
    border: 2px solid black;
    box-shadow: 11px 11px 3px rgb(80, 80, 80);
}
.motto {
    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
}
.bigletter {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    line-height: 0;
}
.cfl {
    font-size: 1.5em;
    transform: translateY(150%);
}
.cfl:hover{
    transition: 1s ease-in-out;
    transform: translateY(-10%);
}