@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dela+Gothic+One&family=Festive&family=Grand+Hotel&family=Josefin+Sans:wght@300&family=Lora:ital@1&display=swap');/* font-family: 'Dela Gothic One', cursive;
font-family: 'Festive', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Lora', serif; */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
* {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

#faqbody {
    max-width: 80vh;
    margin: 0 auto;
}
.faqli {
    font-weight: bold;
    color: black;
    list-style: none;
    padding: 1em;
}
.faqp {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.otherhalf {
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    color: black;

}
.hotelimg > img{
    filter: grayscale(60%);
    transform: rotate(10deg) translateX(-20%);
    max-height: 70vh;
    width:100%;
    border: 2px solid black;
    box-shadow: 11px 11px 3px rgb(80, 80, 80);
}
.motto {
    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
}
.bigletter {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    line-height: 0;
    font-weight: normal;
}
.cfl {
    margin-top: 1em;
    z-index: -1;
    font-size: 1.5em;
    transform:translate(-2%, 40%);
}
.cfi {
    font-size: 2em;
    background-color: transparent;
}
.findaRoomHotelCardList > li {
    /* list-style: none; */
    text-align: left;
}
.findaRoomHotelCardList2 > li {
    list-style: none;
    text-align: left;
}
.findaRoomHotelCard > img, .hotelnames > img {
    box-shadow: 5px 5px 5px rgb(54, 54, 54);
    /* z-index: 56; */
}
.findaRoomHotelCard > img:hover, .hotelnames > img:hover {
    z-index: 99;
    border-radius: 25%;
    transform: scale(2);
    transition: .5s ease-in-out;
}
#toTheTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none; 
    background-color: rgb(47, 196, 255); 
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 50% 50% 5px 5px;
    font-size: 18px;
}
.datepicker {
    flex-direction: row;
}
.spinnerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.spinMe {
    margin: 0 auto;
    width: 4em;
    height: 4em;
    animation: spinMe 2s infinite cubic-bezier(0.18, 0.89, 0.01, 1.31);
}

@keyframes spinMe {
    100% {
        transform: rotate(360deg);
    }
}

#spinnER{
    font-size: 4em;
    animation: spinMe 2s infinite cubic-bezier(0.18, 0.89, 0.01, 1.31);
}
#confirmButton{
    visibility: hidden;
}
.dropdownFAQ {
    height: 50px;
}
.contactDiv > input,.contactDiv >  select,.contactDiv >  textarea,.contactDiv >  button {
    box-shadow: 5px 5px 5px black;
}
.contactDiv > input:focus,.contactDiv > select:focus,.contactDiv > textarea:focus,.contactDiv > button:focus {
    transform: scale(1.03);
    transition: 1s ease-in-out;
}
.index > img {
    margin: 5px;
    max-height: 250px;
    max-width: 250px;
    border: 2px solid rgba(0, 0, 0, 0.486);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}
.index > img:hover {
    transform: scale(1.6);
    transition: .4s ease-in-out;
}

@media (max-width: 767px) {
    .head1 {
        display: flex;
        flex-direction: column;
    }
    .datepicker {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .findaRoomHotelCard {
        display: flex;
        flex-direction: column;
    }
    .findaRoomHotelCardList {
        padding-left: 2.6em;
    }
    .aboutcard {
        flex-direction: column;
    }
}

